@font-face {
	font-family: Montserrat;
	src: url(Montserrat-Regular.ttf)
}
body {
	font-family: Montserrat;
	margin: 0;
	padding: 0;
	background-color: #222222;
}
div.center {
	width: 75%;
	text-align: center;
	font-size: 18px;
	margin:auto;
	background-color: #111111;
	color: #FFFFFF
}
p.title {
	text-size: 72px;
}
a:link {
	color: #dd9802;
}
a:visited {
	color: #FFFF00;
}
a:hover {
	color: #0088FF;
}
a:active {
	color: #0088FF;
}

.labor_color {
	color: #ff7bd2;
}
.liberal_color {
	color: #9fc5e8;
}
.social_color {
	color: #cc0000;
}
.conservative_color {
	color: #3c78d8;
}
.libertarian_color {
	color: #f1c232;
}
.green_color {
	color: #93c47d;
}
.reactionary_color {
	color: #1c4587;
}
.communist_color {
	color: #990000;
}