body {
  font-family: Arial, Helvetica, sans-serif;
}
div.center {
  width: 50%;
  background-color: #EEEEEE;
  text-align: center;
  font-size: 18px;
  margin:auto;
}
a:link {
  color: #888888;
}
a:visited {
  color: #666666;
}
a:hover {
  color: #0088FF;
}
a:active {
  color: #0088FF;
}
